**/*.lock
secret/

fonds/

btop/
cava/
Code/
dconf/
discord/
Electron/
ensemble*/
environment.d/
ghostty/
gtk*/
hypr*/
!home-manager/hyprland
kitty/
neofetch/
obsidian/
pulse/
ranger/
spotify/
systemd/
Thunar
xfce4/
ensmble.conf    
mimeapps.list
