**/*.lock
secret/

fonds/

btop/
Code/
dconf/
ensemble*/
environment.d/
ghostty/
gtk*/
hypr*/
!home-manager/hyprland
kitty/
obsidian/
pulse/
ranger/
systemd/
Thunar
xfce4/
ensmble.conf    
mimeapps.list
