**/*.lock
secret/

.gitignore
fonds/

bluetuith/
btop/
cava/
Code/
dconf/
discord/
Electron/
ensemble*/
environment.d/
geogebra/
ghostty/
glide/
gtk*/
hypr/
hyprpanel/
kitty/
libreoffice/
mozilla/
neofetch/
obsidian/
pulse/
ranger/
spicetify/
spotify/
systemd/
Thunar
twt/
xfce4/
background
ensmble.conf    
mimeapps.list
QtProject.conf